<%inherit file="/base/base.html"/>

<%def name="javascripts()" filter="trim">
   
</%def>

<h1>About Webscavator</h1>

<h2>Webscavator's History</h2>

<p>Webscavator is the result of a masters thesis in Forensic Informatics at the University of Strathclyde, which explored visualisations for forensic investigations, using web history analysis as 
an example area in much need of visual tools. Data visualisation is often an area neglected by programmers because it requires more skills and time to do properly, and does not seemingly add 
any new functionality to software since it just shows the resultant data in a new way. However, good visual interfaces and visualisations can vastly improve the time it takes to complete a task, 
reduce errors, increase concentration and allow a better knowledge of the data. 
<p>Webscavator was developed over the summer of 2010, and was user-tested with digital investigators against other web history analysis tools such as Net Analysis, with results indicating that 
Webscavator improved the accuracy, speed and confidence of the participant’s answers. Questionnaire results indicated that the visualisations would be useful in forensic investigations, 
and would increase efficiency, reduce errors, allow more focused attention and allow non-technical people to understand the results better.</p>

<h2>About the author</h2>
<p>Sarah Lowman works in e-discovery and digital forensics at Morgan Stanley. She has a masters in Forensic Informatics from the University of Strathclyde and a bachelors in Computer Science from
the University of Edinburgh. She writes a blog at <a href="http://lowmanio.co.uk" target="_blank">http://lowmanio.co.uk</a>.</p>

